# Tuple
--------
- 불변 리스트
- 필드명이 없는 레코드

## 1. As Record

In [1]:
lax_coordinates = (33.9425, -118.408056)

In [2]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [3]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [6]:
for passport in sorted(traveler_ids):
    # %s 포맷 연산자는 튜플을 이해하고 각 항목을 하나의 필드로 처리한다
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [5]:
# 언패킹, _(언더바)는 더미변수를 나타낸다
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### Tuple unpacking(iterable unpacking)

In [11]:
latitude, longitude = lax_coordinates # 튜플 언패킹, 병렬 할당(parallel assignment)

In [8]:
latitude

33.9425

In [10]:
longitude

-118.408056

함수를 호출할 때 인수 앞에 *를 붙여 튜플을 언패킹할 수 있다

In [14]:
divmod(20, 8)
t = (20, 8)
divmod(*t)

(2, 4)

In [16]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

*를 통해 초과된 인수를 가져올 수 있다

In [19]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [20]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [21]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [23]:
# 어떠한 변수에도 적용할 수 있다
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [24]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

### nested tuple

In [25]:
metro_areas = [
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [26]:
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### named tuple

In [35]:
from collections import namedtuple

In [36]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [40]:
# 필드명이나 위치를 이용해서 필드에 접근할 수 있다
tokyo.population

36.933

In [38]:
tokyo.coordinates

(35.689722, 139.691667)

In [39]:
tokyo[1]

'JP'

named tupled의 속성과 메서드

In [42]:
City._fields

('name', 'country', 'population', 'coordinates')

In [43]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))

In [44]:
# _make()는 반복형 객체로부터 명명된 튜플을 만든다
# City(*delhi_data)를 호출하는 코드와 동일한 역할을 수행한다
delhi = City._make(delhi_data)

In [46]:
# _asdict()를 통해 데이터를 멋지게 출력할 수 있다
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [47]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)